body {
  background-color: var(--red);
  margin: 0;
  font-family: sans-serif;
  font-weight: normal;
  font-size: var(--font-size);
  line-height: 1.3em;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
a {
  font-size: inherit;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  margin-bottom: 1.3em;
}
